# Fancy stuff #
###############
# * - ignores all files
# !/**/ - unignores directories
# !*.* - unignores files with an extension
*
!/**/
!*.*

# Directories #
###############
/.vscode/*

# Misc. files #
###############
*.zip
*.pdf
*.docx
*.doc
*.pptx